body {
    background-color: #202B60;
}

h1 {
    font-family: verdana;
    font-size: 2em;
    color: #0DD2AA;
  }

#bar {
    fill: white;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }

